.numCount{
    font-size: 18px;
}
.IplusNegative{
    font-size: 22px;
}
.clearCart{
display: block;
height: min-content;
}

@media screen and (max-width: 768px) {
    // img{
    //     display: block;
    //     margin: auto;
    //     width: 50% !important;
    // }
  }