<section class="bg-main-light shadow p-2 my-2 rounded">
  @if (steps==1) {
  <form [formGroup]="verifyEmailform" (ngSubmit)="verifyEmail()">
    <div class="my-2">
      <label for="email">Email</label>
      <input
        id="email"
        [ngClass]="{
                      'is-valid': !verifyEmailform.get('email')?.errors && ( verifyEmailform.get('email')?.touched || verifyEmailform.get('email')?.dirty),
                      'is-invalid': verifyEmailform.get('email')?.errors && (verifyEmailform.get('email')?.touched || verifyEmailform.get('email')?.dirty),
                  }"
        type="email"
        class="form-control"
        formControlName="email"
      />
      @if (verifyEmailform.get('email')?.errors &&
      (verifyEmailform.get('email')?.touched ||
      verifyEmailform.get('email')?.dirty)) {
      <div class="alert alert-danger my-1 w-50">
        @if (verifyEmailform.get('email')?.getError('required')) {
        <p class="m-0">email is required</p>
        }@else if (verifyEmailform.get('email')?.getError('email')) {
        <p class="m-0">Enter Valid Email</p>
        }
      </div>
      }
    </div>
    <button
      [disabled]="verifyEmailform.invalid || isLoaded"
      type="submit"
      class="btn-main d-block ms-auto"
    >
      Register @if (isLoaded) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>
    @if (msgError!='') {
    <p class="alert alert-danger m-0 w-50 ms-auto">{{ msgError }}</p>
    }
  </form>
  } @if (steps==2) {
  <form [formGroup]="verifyResetCodeForm" (ngSubmit)="verifyResetCode()">
    <div class="my-2">
      <label for="resetCode">ResetCode</label>
      <input
        id="resetCode"
        [ngClass]="{
              'is-valid': !verifyResetCodeForm.get('resetCode')?.errors && ( verifyResetCodeForm.get('resetCode')?.touched || verifyResetCodeForm.get('resetCode')?.dirty),
              'is-invalid': verifyResetCodeForm.get('resetCode')?.errors && (verifyResetCodeForm.get('resetCode')?.touched || verifyResetCodeForm.get('resetCode')?.dirty),
          }"
        type="text"
        class="form-control"
        formControlName="resetCode"
      />
      @if (verifyResetCodeForm.get('resetCode')?.errors &&
      (verifyResetCodeForm.get('resetCode')?.touched ||
      verifyResetCodeForm.get('resetCode')?.dirty)) {
      <div class="alert alert-danger my-1 w-50">
        @if (verifyResetCodeForm.get('resetCode')?.getError('required')) {
        <p class="m-0">resetCode is required</p>
        }@else if (verifyResetCodeForm.get('resetCode')?.getError('anyChar')) {
        <p class="m-0">Enter Valid resetCode</p>
        }
      </div>
      }
    </div>
    <button
      [disabled]="verifyResetCodeForm.invalid || isLoaded"
      type="submit"
      class="btn-main d-block ms-auto"
    >
      Register @if (isLoaded) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>
    @if (msgError!='') {
    <p class="alert alert-danger m-0 w-50 ms-auto">{{ msgError }}</p>
    }
  </form>
  } @if (steps==3) {
  <form
    [formGroup]="verifyResetPasswordForm"
    (ngSubmit)="verifyResetPassword()"
  >
    <div class="my-2">
      <label for="email">Email</label>
      <input
        id="email"
        [ngClass]="{
              'is-valid': !verifyResetPasswordForm.get('email')?.errors && ( verifyResetPasswordForm.get('email')?.touched || verifyResetPasswordForm.get('email')?.dirty),
              'is-invalid': verifyResetPasswordForm.get('email')?.errors && (verifyResetPasswordForm.get('email')?.touched || verifyResetPasswordForm.get('email')?.dirty),
          }"
        type="email"
        class="form-control"
        formControlName="email"
      />
      @if (verifyResetPasswordForm.get('email')?.errors &&
      (verifyResetPasswordForm.get('email')?.touched ||
      verifyResetPasswordForm.get('email')?.dirty)) {
      <div class="alert alert-danger my-1 w-50">
        @if (verifyResetPasswordForm.get('email')?.getError('required')) {
        <p class="m-0">email is required</p>
        }@else if (verifyResetPasswordForm.get('email')?.getError('email')) {
        <p class="m-0">Enter Valid Email</p>
        }
      </div>
      }
    </div>
    <div class="my-2">
      <label for="newPassword">NewPassword</label>
      <input
        [ngClass]="{
          'is-valid': !verifyResetPasswordForm.get('newPassword')?.errors && ( verifyResetPasswordForm.get('newPassword')?.touched || verifyResetPasswordForm.get('newPassword')?.dirty),
          'is-invalid': verifyResetPasswordForm.get('newPassword')?.errors && (verifyResetPasswordForm.get('newPassword')?.touched || verifyResetPasswordForm.get('newPassword')?.dirty),
      }"
        id="newPassword"
        type="password"
        class="form-control"
        formControlName="newPassword"
      />
      @if (verifyResetPasswordForm.get('newPassword')?.errors &&
      (verifyResetPasswordForm.get('newPassword')?.touched ||
      verifyResetPasswordForm.get('newPassword')?.dirty)) {
      <div class="alert alert-danger my-1 w-50">
        @if (verifyResetPasswordForm.get('newPassword')?.getError('required')) {
        <p class="m-0">password is required</p>
        }@else if
        (verifyResetPasswordForm.get('newPassword')?.getError('anyChar')) {
        <p class="m-0">password must be at least 6 chars</p>
        }
      </div>
      }
    </div>
    <button
      [disabled]="verifyResetPasswordForm.invalid || isLoaded"
      type="submit"
      class="btn-main d-block ms-auto"
    >
      Register @if (isLoaded) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>
    @if (msgError!='') {
    <p class="alert alert-danger m-0 w-50 ms-auto">{{ msgError }}</p>
    }
  </form>
  }
</section>
